body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

#superhero-display {
    margin-top: 20px;
}

#hero-name {
    font-size: 24px;
    font-weight: bold;
}

#hero-description {
    font-size: 18px;
}
